# Flutter/Dart
.dart_tool/
.packages
.pub/

# Build folders (VERY IMPORTANT)
build/
**/build/

# Android
**/android/.gradle/

# iOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/

# IDE
.vscode/
.idea/

# Misc
*.log